.rememberBenefitsDiv {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    position: relative;
    padding: .5rem;
}

.rememberBenefitsDiv img[alt="Logo"]{
    margin: auto;
}

.rememberBenefitsDiv h1 {
    font: var(--title-sl);
    color: var(--cl-lightblue);
    text-align: center;
    margin: .5rem auto 0;
}

.rememberBenefitsDiv p {
    font: var(--tx-sm);
    color: var(--cl-black);
    width: 70%;
    text-align: center;
    margin: auto;
}

.rememberBenefitsDiv div:nth-child(4){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .2rem;
    margin: .5rem;
    width: fit-content;
    margin: auto;
}

/* @media (width < 60em) {
    .rememberBenefitsDiv div:nth-child(4) img:nth-child(3){
        display: none;
    }
}

@media (width < 40em) {
    .rememberBenefitsDiv div:nth-child(4) img:nth-child(4){
        display: none;
    }

    .rememberBenefitsDiv div:nth-child(4) img[src*="etp-2"]{
        width: 50%;
    }
} */

.rememberBenefitsDiv img[src*="etp-2"] {
    margin: auto;
    width: 8.4rem;
}

.rememberBenefitsDiv ul {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.rememberBenefitsDiv li {
    color: var(--cl-black);
    font: var(--tx-sm);
}

#back {
    position: absolute;
    cursor: pointer;
}

.rememberBenefitsDiv .divBnt {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}

@media (width < 60em) {
    .rememberBenefitsDiv .divBnt{
        display: grid;
        gap: 1rem;
    }

    .rememberBenefitsDiv .divBnt .continueBnt{
        width: fit-content;
        margin: auto;
    }
}