.receptionDiv {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-block: 1.5rem;
}

.receptionDiv img[src*="icons/logo"] {
    width: 3rem;
    margin: auto;
}

@media (width < 80em) {
    .receptionDiv img[src*="icons/logo"] {
        display: none;
    }
}

.receptionDiv img[src*="icons/coracao.svg"] {
    width: 9rem;
    margin: 1rem auto;
}

@media (width < 70em) {
	.receptionDiv img[src*="icons/coracao.svg"] {
        width: 6rem;
    }
}

.receptionDiv .byeTitle {
    font: var(--title-large);
    text-align: center;
    color: var(--cl-lightblue);
    text-transform: uppercase;
}

@media (width < 80em) {
	.receptionDiv .byeTitle {
        font: var(--title-sl);
    }
}

.receptionDiv .byeText {
    text-align: center;
    margin: auto;
    color: var(--cl-black);
    font: var(--tx-md);
    width: 70%;
}

@media (width < 80em) {
    .receptionDiv .byeText{
        width: 80%;
        font: var(--tx-sm);
    }
}

.receptionDiv div {
    display: flex;
    justify-content: space-between;    
    margin: auto;
    width: 60%;
}

@media (width < 80em) {
    .receptionDiv div {
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
    }

    .receptionDiv div .continueBnt{
        width: fit-content;
        margin: auto;
    }
}
